::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.h100vh {
  height: 100vh;
}

.btn-white {
  color: #212529;
  background-color: #ffffff;
  border-color: #212529;
}

.btn-black {
  color: #ffffff;
  background-color: #212529;
  border-color: #212529;
}

.iconBtn {
  padding: 0.60rem;
}

#chatList {
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

#chatList li {
  border-bottom: 1px solid #d3d3d3;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.heading {
  font-family: 'Bellota', cursive;
}